<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Configuration>
    <InstanceGroup name="_default">
        <Instance name="MTMFGPLAY" provider="SQLSERVER" driver="" datasource="VISUAL\PLAY/MTMFGPLAY" user="SYSADM" password="0322036F032E0360032703480304036D031B037E" vmfg_directory="\\visual\visual908$\VMFG" />
    </InstanceGroup>
</Configuration>